In [24]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
df = pd.read_csv("testi.csv")
df

,reddit,fun,cars,sports,music,science,pets,movies,travel,style,history
0,ww2,-1.00,-1,-1.0,-1,1.0,-1.0,-1.0,-1,-1.0,1.00
1,ww3,-1.00,-1,-1.0,-1,-1.0,-1.0,-1.0,-1,-1.0,1.00
2,bmw,-1.00,1,1.0,-1,-1.0,-1.0,-1.0,1,-1.0,-1.00
3,cats,1.00,-1,-1.0,-1,-1.0,1.0,1.0,-1,-1.0,-1.00
4,avatar,-1.00,-1,-1.0,1,-1.0,-1.0,1.0,-1,-1.0,-1.00
5,police,-1.00,1,1.0,-1,-1.0,-1.0,1.0,-1,-1.0,1.00
6,computer,1.00,-1,-1.0,1,1.0,-1.0,-1.0,-1,-1.0,-1.00
7,soccer,1.00,-1,1.0,-1,-1.0,-1.0,-1.0,-1,1.0,-1.00
8,user,-1.00,-1,0.5,-1,0.1,-1.0,-1.0,-1,0.2,0.10
9,use2,0.05,-1,0.1,-1,-1.0,0.7,0.2,-1,-1.0,0.05

In [42]:
df = df.drop("reddit", axis=1)
sim = cosine_similarity(df,df)
dfrec = pd.DataFrame(sim)
dfrec

,0,1,2,3,4,5,6,7,8,9
0,1.000000e+00,0.800000,5.062787e-19,5.062787e-19,2.000000e-01,2.000000e-01,4.000000e-01,5.062787e-19,0.692386,2.685834e-01
1,8.000000e-01,1.000000,2.000000e-01,2.000000e-01,4.000000e-01,4.000000e-01,2.000000e-01,2.000000e-01,0.667208,5.371669e-01
2,5.062787e-19,0.200000,1.000000e+00,-2.000000e-01,-5.062787e-19,4.000000e-01,-2.000000e-01,2.000000e-01,0.264365,1.342917e-02
3,5.062787e-19,0.200000,-2.000000e-01,1.000000e+00,4.000000e-01,2.826185e-17,2.000000e-01,2.000000e-01,-0.113299,7.788920e-01
4,2.000000e-01,0.400000,-5.062787e-19,4.000000e-01,1.000000e+00,2.000000e-01,4.000000e-01,-5.062787e-19,0.138477,3.088709e-01
5,2.000000e-01,0.400000,4.000000e-01,2.826185e-17,2.000000e-01,1.000000e+00,-4.000000e-01,5.062787e-19,0.289543,3.491585e-01
6,4.000000e-01,0.200000,-2.000000e-01,2.000000e-01,4.000000e-01,-4.000000e-01,1.000000e+00,2.000000e-01,0.163655,3.303546e-17
7,5.062787e-19,0.200000,2.000000e-01,2.000000e-01,-5.062787e-19,5.062787e-19,2.000000e-01,1.000000e+00,0.566497,2.954418e-01
8,6.923856e-01,0.667208,2.643654e-01,-1.132995e-01,1.384771e-01,2.895431e-01,1.636548e-01,5.664973e-01,1.000000,3.051489e-01
9,2.685834e-01,0.537167,1.342917e-02,7.788920e-01,3.088709e-01,3.491585e-01,3.303546e-17,2.954418e-01,0.305149,1.000000e+00

In [43]:
sim_scores = list(enumerate(sim[7]))
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores

[(7, 0.9999999999999999),
 (8, 0.5664972867642456),
 (9, 0.29544177616223066),
 (6, 0.2),
 (1, 0.19999999999999998),
 (2, 0.19999999999999998),
 (3, 0.19999999999999998),
 (0, 5.062787224914921e-19),
 (5, 5.062787224914921e-19),
 (4, -5.062787224914921e-19)]